<form method="post">
	<label for="name">Nome:</label>
	<div class="input-group mb-3">
		<input type="text" class="form-control" id="name">
	</div>

	<label for="email">E-mail:</label>
	<div class="input-group mb-3">
		<input type="text" class="form-control" id="email">
	</div>

	<label for="msg">Msg:</label>
	<div class="input-group mb-3">
		<textarea class="form-control" id="msg"></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Enviar</button>
</form>